/* seção de responsividade do clone do discordia */

/* desktop 1024px e  1440px */


@media screen and (min-width: 1024px) and (max-width:1440px){
     body,main{
        display: grid;
        max-width:1440px;
        max-height:1440px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,470px);
        grid-template-areas: 
        "header"
        "main-section-one"
        "main-section-two"
        "main-section-three"
        "main-section-four"
        "footer";
        margin:0;
        padding:0;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;

    }
    header{
        display: grid;
       grid-area: header;
       max-width: 100%;
       max-height:100%;
    }
    header img{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        max-width: 73%;
        max-height:100%;
    }

    header .conteudo{
        grid-column: 1;
        grid-row: 1;
        align-self:center;
        margin:0 -15rem;
    }
    header .conteudo h1{
        font-size: 1em;
        font-weight: bold;
        max-width: 313px;
        max-height: 112px;
        color:#FFFFFF;  

    }

    header .conteudo p{
        max-width: 130rem;
    }

    /* seção  do conteudo principal  */


    /* seção numero um */


    main section .seçao-um {
        display: grid;
        grid-area: main-section-one;
        grid-template-columns: auto;
        grid-column: 1/1;
        grid-row: 1/1;
        margin:2rem -20rem;
        
    }

    main section .seção-um img{
        max-width:40%;
        max-height:75%
        min-height:auto;
    }
    main section .seçao-dois{
        grid-area:main-section-two;
        grid-column: 1/1;
        grid-row: 1/1;
        margin:2rem -15rem;
        max-width:91%;
    }

    main section .seçao-dois img{
        max-width:40%;
        max-height: 75%;
        margin:0 10rem;
    }
    main section .seçao-três{
        grid-area:main-section-three;
        grid-column: 1/1;
        grid-row: 1/1;
        margin:2rem -15rem 0 -22rem;
        max-width:91%;
    }
    main section .seçao-três img{
        max-width:40%;
        max-height: 75%;
        margin:0 10rem;
    }
   
    main section .seçao-quatro{
        grid-area:main-section-four;
        grid-column: 1/1;
        grid-row: 1/1;
        max-width: 78%;
        margin:2rem -4rem;
    }
    main section .seçao-quatro img{
        max-width:60%;
        max-height: 75%;
        margin:0;
    }

    footer{
        display:grid;
        grid-area:footer;
        grid-column: 1/1;
        grid-row: 1/1;
        max-width: 72%;
        max-height: 72%;
        justify-content: center;
        align-items: center;
        
    }
}

@media screen and (min-width:320px) and (max-width:425px){
   body,main{
    display:grid;
    max-width: 428px;
    max-height:2792px;
   }
   main section {
    display:grid;
   }
}