/* seção de responsividade do clone do discordia */

/* tela 1440px  e 1024px de largura*/

@media screen and (min-width:1024px) and (max-width:1440px) {

  /* reiniciando padroes do navegador para o tamanho de 1024px e 1440px */
  *{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width:62vh;
    min-width: auto;
  }

  body{
    position:relative;
    background-color:#FFFFFF;
    max-width: 60rem;
    max-height: 0rem;
  }

  header{
    position:absolute;
    width:10vh;
  }
  header img{
    position:absolute;
    max-width: 95rem;
    min-height:30rem;
  
  }

  /* seção do conteudo principal */


  main section{
    max-width:100%;
    max-height: 590vh;
  }
  main section .seçao-dois{
    width:60rem;
  }

}


