
/* resetando configurações padrões do navegador  */
@import url("./reset.css");

/* arquivo separado com estilos responsivos em css realizando um "Bundle" entre arquivos css chamando apenas um no HTML5 */
@import url("./responsive.css");


/*importando fontes google do projeto  */
@import url("./fonts.css");



/* seção de elementos generalizados */

body{
    position:relative;
    background-color: #FFFFFF;
    max-width: 1620px;
}



/*  seção de estilização do cabeçalho */

/* tela 1510px de largura e auto de altura */

header{
    position: absolute;
    width: 60vh;
    height: 459px;
    left: 0px;
    top: 0px;
}
header img{
    position: absolute;
    width: 1720px;
    height: 459px;
    left: 0px;
    top: 0px;
}

header .conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 757px;
    height: 270px;
    left: 340px;
    top: 94px;
}

header .conteudo h1{
    color:#FFFFFF;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    font-size: 3rem;
    width:313px;
    height:112px;
    text-align: center;

}

header .conteudo p{
width:650px;
height: 66px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;

}

header .conteudo .conteudo-botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    order:2;
    flex-grow:0;
    align-items: center;
}


header .conteudo button{
    background-color: #FFFFFF;
    border-radius:28px;
    font-size:16px;
    font-style:normal;
    font-weight: 400;
    text-transform:capitalize;
    margin:0 1rem;
    border:1px transparent #FFFFFF;
    cursor: pointer;
    -webkit-border-radius:28px;
    -moz-border-radius:28px;
    -ms-border-radius:28px;
    -o-border-radius:28px;
}
header .conteudo button.preto{
    width:281px;
    height:44px;
    background:#23272A;
    color:#FFFFFF;
    font-size:16px;
    line-height:22px;
    font-family:"Open Sans";
    
}

header .conteudo button.branco{
    background-color: #FFFFFF;
    font-size:16px;
    font-style:normal;
    text-align:center;
    line-height: 22px;
    width:205px;
    height:44px;
    font-family:"Open Sans";
    
}



/* seção do conteudo principal da página */
main section{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
}



/* seção um  */



main section .seçao-um {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
width: 971px;
height: 394px;
left: 254px;
top: 499px;

}
main section .seçao-um img{
    width:30rem;
    height:22rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

main section .seçao-um .descricao-um h1{
    display: flex;
    font-family:"Open Sans";
    font-style: bold;
    font-weight:800;
    font-size:40px;
    line-height:54px;
    text-align: left;
    width:270px;
    height: 370px;
    left: 623px;
    top: 10px;
    margin:0;
    order:0;
    
}
main section .seçao-um .descricao-um p{
    font-family:"Open Sans";
    font-style: normal;
    line-height:22px;
    font-weight:400;
    font-size:18px;
    position: absolute;
    width: 348px;
    height: 88px;
    left: 560px;
    top: 296px;
    margin:0 2rem;
    order:0;
}


/* seção dois */

main section .seçao-dois{
    background:#F6F6F6;
    display:flex;
    flex-direction:row;
   flex-grow:1;
   position:absolute;
   width:250vh;
   height:448px;
   left:0px;
   top:950px;

}

main section .seçao-dois img{
    order:1;
    align-items: center;
    display: flex;
    flex-direction: row;
    position:absolute;
    left:28rem; 
    margin:0 13rem;
    width: 607px;
    height: 394px;
}
main section .seçao-dois .descricao-dois h1{
    position: absolute;
    width: 329px;
    height: 108px;
    left: 290px;
    top: 118px;
    order:0;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}

main section .seçao-dois .descricao-dois p{
    position: absolute;
    width: 348px;
    height: 88px;
    left: 290px;
    top: 242px;

    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/* seção três */
main section .seçao-três{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  padding:0;
  flex-grow: 1;
  gap:16px;
  position:absolute;
  width:1480px;
  height:448px;
  left:0px;
  top:1421px;


}
main section .seçao-três img{
    width:607px;
    height:394px;
    flex:none;
    position:absolute;
    left:240px;
}
main section .seçao-três .descricao-três h1{
    font-family: 'Open Sans';
    font-style:bold;
    position:absolute;
    width:309px;
    height:108px;
    left:916px;
    top:107px;
    font-weight: 800;
    font-size:40px;
    line-height:54px;

}

main section .seçao-três .descricao-três p{
    position:absolute;
    width:328px;
    left:916px;
    top:231px;
    font-family: "Opens Sans";
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height: 22px;
}

/* seção quatro */


main section .seçao-quatro{
    display:flex;
    flex-direction:column;
    position:absolute;
    width:1680px;
    height:744px;
    left:0;
    justify-content: center;
    align-items: center;
    top:1909px;
    background-color:#F6F6F6;

}
main section .seçao-quatro img{
    width:784px;
    height:508px;
    order:2;

}
main section .seçao-quatro .descricao-quatro h1{
    width:608px;
    height:80px;
    font-family:"Luckiest Guy";
    font-style:bold;
    font-weight:400;
    font-size:40px;
    text-align:center;
    margin-bottom: 2rem;
    margin-left: 5rem;
    order:0;
    flex:none;
    flex-grow:0;

}

main section .seçao-quatro .descricao-quatro p{
    width:780px;
    height:44px;
    order:1;
    font-family:"Opens Sans";
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:22px;
    text-align:center;


}

/* seção footer (rodapé da página */


footer{
    position:absolute;
    width:1620px;
    height:134px;
    left:0px;
    top:2658px;
    background-color:#23272A;
    
}
footer figure{
    margin:1rem 35rem;
}

footer figure img{
   width:230px;
   height:63px;
}





